<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dual.dualdatabase.mapper.dbTwo.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.dual.dualdatabase.model.Department">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="data_base" jdbcType="VARCHAR" property="dataBase" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dept_name, data_base
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from department
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dual.dualdatabase.model.Department">
    insert into department (id, dept_name, data_base
      )
    values (#{id,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, #{dataBase,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dual.dualdatabase.model.Department">
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="dataBase != null">
        data_base,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="dataBase != null">
        #{dataBase,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dual.dualdatabase.model.Department">
    update department
    <set>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="database != null">
        data_base = #{dataBase,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dual.dualdatabase.model.Department">
    update department
    set dept_name = #{deptName,jdbcType=VARCHAR},
      data_base = #{dataBase,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>